<!-- contents00 -->
<section class="contents00">

<!-- contents_nav -->
<ul class="contents_nav">
    <li class="btn_ingredients"><a href="#ingredients">商品說明</a></li>
    <li class="btn_tips"><a href="#tips">愛用者<br class="sp_item">心得</a></li>
    <li class="btn_tips"><a href="#precautions">產地及<br class="sp_item">注意事項</a></li>
    <li class="btn_q_and_a"><a href="#q_and_a">Q&amp;A</a></li>
</ul>
<!-- /contents_nav -->

<!-- targets -->
<section class="targets">
    <h2>推薦給這樣的妳</h2>
    <ul class="targets_list">
        <li>想<em>髮強韌柔順不易斷裂</em>的妳</li>
        <li>想<em>髮絲隨時看起來水潤光澤</em>的妳</li>
    </ul>
</section>
<!-- /targets -->

</section>

<!-- contents01 -->
<div class="w1400">
    <section id="ingredients">
        <div class="tips pa_LR15" style="background: none!important; padding-bottom: 0;">
            <h2>enherb 恩荷<br>深層屏護潤髮乳</h2>
            <p class="lead">立即賦予秀髮強韌、<br class="phone_only">柔順有彈力的健康狀態！</p>
        </div>
        <div class="pic_center_div">
            <img data-src="/img/goods/enherb/42.png" src="/img/goods/enherb/42.png" alt="深層屏護潤髮乳" loading="lazy"
                class="pic_center2 lazyloaded" width="1400" height="661" style="margin-bottom: -2px;">
        </div>
    </section>
    <!-- /contents01 -->

    <!-- contents02 -->
    <section class="t_center bg-4">
        <div class="tips pa_LR15 tips_ab" style="background: none!important; padding-bottom: 0;">
            <h2>解決「頭髮細瘦」困擾</h2>
            <p class="lead">以草本植萃強健髮根、<br class="phone_only">維持秀髮健康</p>
            <div class="girl42_txt">
                結合多種植萃力量，<br>
                屏護頭髮不受環境帶來的<br>
                傷害與刺激，<br>
                同步<span class="brown">修補並鎖緊隨年齡增長<br>
                    而容易張開的毛鱗片，</span><br>
                解決失去彈力與韌度的<br>
                「頭髮細瘦」問題，<br>
                <span class="brown">讓秀髮重返健康光澤！</span>
            </div>
        </div>
        <div class="pic_center_div">
            <img data-src="/img/goods/enherb/girl_hair.png" src="/img/goods/enherb/girl_hair.png" alt="維持秀髮健康"
                loading="lazy" class="pic_center2 lazyloaded" width="1400" height="807">
        </div>
    </section>
    <!-- /contents02 -->

    <!--contents03--->
    <section class="bg-5 t_center">
        <div class="tips pa_LR15" style="background: none!important; padding-bottom: 0;">
            <h2>嚴選3重滲透成分<sup>*</sup><br>滋潤修補年齡髮強韌度</h2>
            <p class="lead">菁華滲透 直達髮芯修護</p>
            <p class="lead3">添加3種與髮芯主要成分相近的水解透明質酸、<br>
                月桂醯胺穀氨醯胺以及水解蜂蜜蛋白，<br>
                <span class="brown">修補頭髮老化內部的空洞，同時修護毛鱗片。</span>
            </p>
            <p class="ps"><sup>*</sup>保濕成分：水解蜂蜜蛋白、月桂醯胺穀氨醯胺、水解透明質酸</p>
        </div>
        <div class="pic_center_div">
            <img src="/img/goods/enherb/42_pic.png" alt="" class="pic_center3" style="margin-bottom: -2px;">
        </div>
    </section>
    <!--/contents03--->

    <!--contents04--->
    <section class="bg-2 pb_130 protect_hair" style="overflow: hidden;">
        <img data-src="/img/goods/enherb/leaf1_42.png" src="/img/goods/enherb/leaf1_42.png" alt="leaf1"
            loading="lazy" class="lazyloaded" width="367" height="254">
        <img data-src="/img/goods/enherb/leaf2_42.png" src="/img/goods/enherb/leaf2_42.png" alt="leaf2"
            loading="lazy" class="lazyloaded" width="367" height="254">
        <img data-src="/img/goods/enherb/arrow.png" src="/img/goods/enherb/arrow.png" alt="arrow"
            class="arrow_position lazyload" width="184" height="84" loading="lazy">
        <div class="tips pa_LR15" style="background: none!important; padding-bottom: 0;">
            <h2>草本屏護成分<sup>*</sup><br class="phone_only">保護現有髮絲</h2>
            <p class="lead">讓毛鱗片緊閉、彈開外來傷害</p>
            <p class="lead3">結合2種草本植物菁華來<span class="brown">修補年齡髮容易張開的毛鱗片，</span><br>
                <span class="brown">並鎖緊預防重要營養成分流失。</span><br>
                再以具高保濕力的乳油木果脂，<br>
                <span class="brown">屏護秀髮不受乾燥與外在環境帶來的傷害。</span>
            </p>
        </div>
        <div class="white_box_1_div w860">
            <div class="close"></div>
            <div class="white_box_1">
                <p class="title">鎖住闔緊</p>
                <img data-src="/img/goods/enherb/icon1.png" src="/img/goods/enherb/icon1.png" alt="icon1"
                    loading="lazy" class="lazyload" width="54" height="51">
                <p>確實修補張開的毛鱗片<br>
                    不讓重要的內部成分流失</p>
                <p class="title1">白池花-內酯</p>
                <img data-src="/img/goods/enherb/herb1.png" src="/img/goods/enherb/herb1.png" alt="白池花-內酯"
                    loading="lazy" class="lazyload" width="230" height="73">
                <p class="title1">銀毛椴蕾萃取</p>
                <img data-src="/img/goods/enherb/herb1.png" src="/img/goods/enherb/herb1.png" alt="銀毛椴蕾萃取"
                    loading="lazy" class="lazyload" width="230" height="73">
                <p class="ps"><sup>*</sup>保濕成分：白池花δ-內酯、銀毛椴蕾萃取、乳油木果脂</p>
            </div>
            <div class="white_box_1">
                <p class="title">屏蔽保護</p>
                <img data-src="/img/goods/enherb/icon2.png" src="/img/goods/enherb/icon2.png" alt="icon2"
                    loading="lazy" class="lazyload" width="39" height="61">
                <p>維持滋潤、保護頭髮<br>
                    不受環境與紫外線損傷</p>
                <p class="title1">乳油木果脂</p>
                <img data-src="/img/goods/enherb/herb3.png" src="/img/goods/enherb/herb3.png" alt="乳油木果脂"
                    loading="lazy" class="lazyload" width="227" height="167">
            </div>
        </div>

    </section>
    <!--/contents04--->

    <!--contents05--->
    <section class="tips bg-2_arrow pb_130" style="background: none!important;">
        <h2>潤髮同時享受草本香氛</h2>
        <p class="lead">打造出專屬於妳的放鬆時刻</p>
        <div class="flowers">
            <p>以調和的香氣<br>
                帶來放鬆的氛圍感<br>
                養成柔順有光澤的<br>
                韌彈秀髮</p>
            <img data-src="/img/goods/enherb/flowers1.png" src="/img/goods/enherb/flowers1.png" alt="flowers"
                loading="lazy" class="lazyload" width="860" height="537">
        </div>
    </section>
    <!--/contents05--->

    <!-- contents06 -->
    <section class="t_center bg-2 pt_125 pb_130">
        <div class="tips pa_LR15" style="background: none!important; padding: 0;">
            <h2>深層屏護潤髮乳 潤髮步驟</h2>
            <p class="lead">深層潤護、保持強韌柔順髮絲</p>
        </div>
        <div class="hair_step_div1 w600">
            <img data-src="/img/goods/enherb/enherb42.png" src="/img/goods/enherb/enherb42.png" alt="深層屏護潤髮乳"
                class="enherb42 lazyload" loading="lazy" width="387" height="345">
            <div class="step_left">
                <div class="round">
                    <img data-src="/img/goods/enherb/Step2.png" src="/img/goods/enherb/Step2.png" alt="step2"
                        class="lazyload" loading="lazy" width="142" height="77">
                    <img data-src="/img/goods/enherb/g-5.png" src="/img/goods/enherb/g-5.png" alt="girl1"
                        class="lazyload" loading="lazy" width="184" height="233">
                    <p>充分沾抹於髮絲。</p>
                </div>
            </div>
            <div class="step_right">
                <div class="round">
                    <img data-src="/img/goods/enherb/step1.png" src="/img/goods/enherb/step1.png" alt="step1"
                        class="lazyload" loading="lazy" width="142" height="77">
                    <img data-src="/img/goods/enherb/g-4.png" src="/img/goods/enherb/g-4.png" alt="girl2"
                        class="lazyload" loading="lazy" width="216" height="243">
                    <p>洗髮後，取適量於手心。</p>
                </div>
                <div class="round">
                    <img data-src="/img/goods/enherb/Step3.png" src="/img/goods/enherb/Step3.png" alt="step3"
                        class="lazyload" loading="lazy" width="142" height="77">
                    <img data-src="/img/goods/enherb/g-6.png" src="/img/goods/enherb/g-6.png" alt="girl3"
                        class="lazyload" loading="lazy" width="156" height="255">
                    <p>以清水充分沖洗乾淨。</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /contents01 -->

<!--tips--->
<section class="tips green_bg" id="tips">
    <h2>深層屏護潤髮乳 愛用者心得</h2>
    <p class="lead">各世代好評口碑真實心聲！</p>
    <ul class="tips_list">
        <li>
            <div class="text">
                <div class="label">
                    <h3>顏小姐</h3>
                    <p class="date">40代女性</p>
                    <h4>更有光澤、摸起來很柔順！</h4>
                </div>
                <p class="comment">
                    搭配洗髮露使用一陣子，感覺我的髮質越來越好、更有光澤感，也不容易分叉了！
                </p>
            </div>
            <figure><img data-src="/img/goods/enherb/42_40.jpg" src="/img/goods/enherb/42_40.jpg" alt="30"
                    loading="lazy" width="570" height="380" class="lazyloaded"></figure>
        </li>
        <li>
            <div class="text">
                <div class="label">
                    <h3>吳小姐</h3>
                    <p class="date">50代女性</p>
                    <h4>頭髮變強壯，秀髮輕鬆好整理</h4>
                </div>
                <p class="comment">
                    現在可以盡情去嘗試做各種髮型，對自己的自信心提升許多。
                </p>
            </div>
            <figure><img data-src="/img/goods/enherb/42_50.jpg" src="/img/goods/enherb/42_50.jpg" alt="30"
                    loading="lazy" width="570" height="380" class="lazyloaded"></figure>
        </li>
        <li>
            <div class="text">
                <div class="label">
                    <h3>林小姐</h3>
                    <p class="date">60代女性</p>
                    <h4>頭髮質感更高級，精神氣色加分</h4>
                </div>
                <p class="comment">
                    每次潤髮完就像打磨過非常亮滑，讓我的氣色也看起來變好了。
                </p>
            </div>
            <figure><img data-src="/img/goods/enherb/42_60.jpg" src="/img/goods/enherb/42_60.jpg" alt="30"
                    loading="lazy" width="570" height="380" class="lazyloaded"></figure>
        </li>
    </ul>
</section>
<!--/tips--->

<!-- details -->
<section class="details" id="details">
    <h2>深層屏護潤髮乳 <br class="phone_only">商品詳細資訊</h2>
    <p class="lead">日本製造，品質安心有保障！</p>

    <div class="question_answer">
        <p class="question">我很擔心食物的安全性，例如：<br class="sp_item">商品使用的原料、製作過程等…</p>
        <p class="answer">不用擔心，三得利「enherb 恩荷」是具有百年歷史的日本三得利所製作！</p>
    </div>
    <ul class="details_list">
        <li>
            <figure><img data-src="/img/goods/sesamin/img_details01.jpg" src="/img/goods/sesamin/img_details01.jpg"
                    alt="總公司" loading="lazy" width="280" height="200" loading="lazy" class="lazyloaded"></figure>
            <h3>嚴格確保高品質</h3>
            <p>對大自然蘊藏的能量所孕育的保健食品，轉以科學角度剖析驗證其品質，每個環節層層把關，是三得利保健食品藉由貫徹品質安全做出的安心承諾。</p>
        </li>
        <li>
            <figure class="borderd"><img data-src="/img/goods/sesamin/img_details02.jpg"
                    src="/img/goods/sesamin/img_details02.jpg" alt="SGS檢驗" loading="lazy" width="280" height="280"
                    loading="lazy" class="lazyloaded">
            </figure>
            <h3>SGS檢驗通過</h3>
            <p>三得利「enherb 恩荷」不僅精心挑選原料；更從生產至配送、堅持最嚴格的品質把關；日本製造；在台灣、更通過SGS檢驗、品質安心、讓您更放心。</p>
        </li>
    </ul>
    <p class="btn_link"><a href="/qanda/detail/000120.html"><span>我一直以為三得利是專門生產酒類及飲料的食品公司？</span></a></p>
</section>
<!-- /details -->

<!-- precautions -->
<section class="precautions" id="precautions">
    <h2>產地及注意事項</h2>
    <table class="precautions_table">
        <tr>
            <th>品名</th>
            <td>
                <p>深層屏護潤髮乳 250g</p>
            </td>
        </tr>
        <tr>
            <th>原產地</th>
            <td>
                <p>日本</p>
            </td>
        </tr>
        <tr>
            <th>注意事項</th>
            <td>
                <ul>
                    <li><span>●</span>請避免使用於傷口、紅腫、溼疹等肌膚出現異常症狀的部位。</li>
                    <li><span>●</span>如肌膚出現不適，請停止使用。如持續使用可能造成症狀惡化，請諮詢皮膚科醫師。​</li>
                    <li><span>●</span>請注意避免產品進入眼睛。若不慎滲入眼中，切勿揉搓，請立即以清水沖洗。若有異物感殘留，請向眼科醫師諮詢。</li>
                    <li><span>●</span>本產品含天然成分，因溫度變化等有可能產生顏色及氣味上的變化，但並不影響品質，請安心使用。</li>
                    <li><span>●</span>使用後，請確實蓋緊瓶蓋。</li>
                    <li><span>●</span>請置於嬰幼兒無法取得處。</li>
                    <li><span>●</span>請避免保存於極度高溫或低溫場所、日光直射處。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>使用方式</th>
            <td>
                <p>建議每次取適量於手心，每日使用一次，約可使用45天</p>
                <p>使用情形依照個人使用情況不同會有所差異</p>
                <br>
                <ul class="spec_list">
                    <li class="usage">建議每日使用一次</li>
                    <li class="form">乳霜狀</li>
                    <li class="fig01">
                        <figure>
                            <img data-src="/img/p134.png" src="/img/p134.png" alt="乳霜狀" loading="lazy" width="62"
                                height="33" class="lazyloaded">
                        </figure>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</section>
<!-- /precautions -->

<!-- q_and_a -->
<section class="q_and_a" id="q_and_a">
    <h2>Q &amp; A</h2>
    <div class="q_and_a_group">
        <section class="q_and_a_contents">
            <h3>關於「enherb 恩荷 深層屏護潤髮乳」</h3>
            <ul class="q_and_a_list">
                <li><a href="/qanda/detail/000115.html">為什麼其他網站賣得更便宜？且無法於其他通路購買呢？</a></li>
                <li><a href="/qanda/detail/000120.html">我一直以為三得利是專門生產酒類及飲料的食品公司？</a></li>
                <li><a href="/qanda/detail/000223.html">需要用起泡網起泡嗎？</a></li>
            </ul>
        </section>
        <section class="q_and_a_contents">
            <h3>購物須知</h3>
            <ul class="q_and_a_list">
                <li><a href="/qanda/detail/000062.html">需要運費、手續費嗎？</a></li>
                <li><a href="/qanda/detail/000065.html">從訂購完成到收到貨物，需要幾天的時間？</a></li>
                <li><a href="/qanda/detail/000016.html">可以透過什麼方式訂購商品？</a></li>
                <li><a href="/qanda/detail/000051.html">付款方式？</a></li>
            </ul>
        </section>
    </div>
</section>
<!-- /q_and_a -->

<!-- recommended_products -->
<section class="recommended_products" id="recommended_products">
    <h2>其他推薦商品</h2>
    <ul class="recommended_list">
        <li>
            <a href="/product/goods_detail?goods_id=29">
                <div class="img_block">
                    <p class="award"><img data-src="/top/img/vitoas_prize.png" src="/top/img/vitoas_prize.png"
                            width="78" height="78" loading="lazy" alt="vitoas蜜得絲_award"></p>
                    <figure><img data-src="/top/img/vitoas.png" src="/top/img/vitoas.png" width="180" height="169"
                            loading="lazy" alt="vitoas蜜得絲"></figure>
                </div>
                <div class="text_block">
                    <div class="products_title" style="height: 54px;">
                        <h3>vitoas 蜜得絲</h3>
                    </div>
                    <p class="text">極簡保養實現理想原生肌只要兩個步驟！</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/product/goods_detail?goods_id=60">
                <div class="img_block">
                    <p class="award"><img data-src="/top/img/royal_jelly_prize.png" src="/top/img/royal_jelly_prize.png"
                            width="78" height="78" loading="lazy" alt="蜂王乳 + 芝麻明E_award"></p>
                    <figure><img data-src="/top/img/royal_jelly.png" src="/top/img/royal_jelly.png" width="180"
                            height="169" loading="lazy" alt="蜂王乳 + 芝麻明E"></figure>
                </div>
                <div class="text_block">
                    <div class="products_title" style="height: 81px;">
                        <h3>蜂王乳<br class="phone_only">+芝麻明E</h3>
                    </div>
                    <p class="text">
                    </p>
                    <p>全方位養顏調理聖品，<br>擁好眠，煥發持久紅潤透亮</p>
                    <p></p>
                </div>
            </a>
        </li>
    </ul>
</section>
<!-- /recommended_products -->

<!--select_purchase_btn_bar-->
<div class="select_purchase_btn_bar">
    <div class="inner">
        <button class="btn_close" type="button"></button>
        <p class="btn_select_purchase" style="margin: 0;"><a href="#purchase">選擇購買方案</a></p>
    </div>
</div>
<!--/select_purchase_btn_bar-->
</div>
<!-- /product_contents -->
</div>

<!-- /product_contents -->

<!-- modal_container -->
<div class="modal_container">
    <div class="modal_container_in">
        <h2 class="modal_title">優惠折扣價目表</h2>
        <p class="text">全台宅配免運費，不限數量！</p>
        <div class="price_list">
            <table class="price_list_table">
                <caption>多重購折扣價目表</caption>
                <tbody>
                    <tr>
                        <th>組數</th>
                        <th>折扣數</th>
                        <th>折扣金額</th>
                        <th>折扣後總金額</th>
                    </tr>
                    <tr>
                        <td class="label">1瓶</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                    </tr>
                    <tr>
                        <td class="label">2瓶</td>
                        <td class="number">95折</td>
                        <td class="price">省NT$75</td>
                        <td class="total">NT$1,425</td>
                    </tr>
                    <tr>
                        <td class="label">3瓶</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$225</td>
                        <td class="total">NT$2,025</td>
                    </tr>
                    <tr>
                        <td class="label">4瓶</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$300</td>
                        <td class="total">NT$2,700</td>
                    </tr>
                    <tr>
                        <td class="label">5瓶</td>
                        <td class="number">85折</td>
                        <td class="price">省NT$562</td>
                        <td class="total">NT$3,188</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn_close">關閉</div>
        <div class="btn_close_x"></div>
    </div>
</div>
<!-- /modal_container -->

<div class="overlay"></div>
</div>
<script src="/js/goods/smooth_scroll.js"></script>
<script src="/js/goods/jquery.matchHeight-min.js"></script>
<script>
$(function() {
	//Show Benefits
	$( 'input[name="buyProduct"]:radio' ).change( function() {
		$(".regular_extra").addClass("active");
	});
	//modal
	$('.overlay').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_close').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_close_x').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_modal button').on('click',function(){
		$('.overlay').addClass('active');
		$('.modal_container').addClass('active');
	});
});

// matchHeight
$('.ingredients_list01').matchHeight();
$('.ingredients_list02').matchHeight();
$('.products_title').matchHeight();
// select_purchase_btn_bar
let preventActivation = false;
$(".select_purchase_btn_bar .btn_close").click(function() {
    $('.select_purchase_btn_bar').removeClass('active');
    preventActivation = true;
});
$(window).scroll(function() {
    if (!preventActivation) {
        if ($(this).scrollTop() > 2000) {
            $('.select_purchase_btn_bar').addClass('active');
        } else {
            $('.select_purchase_btn_bar').removeClass('active');
        }
    }
});
</script>