<style>

    @media only screen and (min-width: 768px) {
	    .showtalk-widget-banner {
	        bottom: 205px;
	    }
    }
</style>
<script>
    $('document').ready(function() {
        $('label').click(function() {
            $('label').removeClass('active_1');
            $(this).addClass('active_1');
        });
    });
    $('document').ready(function() {
        $('#btn_close').click(function() {
            $('.mask').removeClass('d_b');
        });
    });
    $('document').ready(function() {
        $('#btn_close1').click(function() {
            $('.mask1').removeClass('d_b');
        });
    });
    $('document').ready(function() {
        $('#btn_close2').click(function() {
            $('.mask2').removeClass('d_b');
        });
    });
    $('document').ready(function() {
        $('#btn_close3').click(function() {
            $('.mask3').removeClass('d_b');
        });
    });
    $('document').ready(function() {
        $('#btn_close4').click(function() {
            $('.mask4').removeClass('d_b');
        });
    });
    $('document').ready(function() {
            $('.mask').click(function() {
                $('.mask').removeClass('d_b');
            });
        });
    
    function addCard(){
            var selectVal = $('input[name=buyProduct]:checked').val();
			if (selectVal == "1") {
				return shoping42();
			} else if  (selectVal == "3") {
				return contractshoping1('42');
			} else if  (selectVal == "4") {
				return contractshoping2('42');
			} else {
                $('.mask').addClass('d_b');
			} 
        }
</script>
    <div class="mask">
        <div class="mask_in">
            請於「<b>單次購入</b>」或「<b>健康定期購</b>」<br> 選擇欲加入購物車之購買方案。
            <br>
            <div id="btn_close" class="btn_close">關 閉</div>
        </div>
    </div>
<!-- product_contents -->
<div class="product_contents">

<!-- primary -->
<section class="primary">
    <h1>enherb 恩荷 深層屏護潤髮乳</h1>
    <!-- main_visual -->
    <section class="main_visual">
        <div class="img_block">
            <figure class="main_visual_img"><img src="../img/goods/42_1.jpg" width="520" height="418"
                    alt="enherb 恩荷 深層屏護潤髮乳"></figure>
        </div>
        <div class="text">
            <h2>萃取草本精華，<br class="phone_only">活絡頭皮健康同步滋養髮根</h2>
            <h2 class="brown">溫和的胺基酸泡沫，<br class="phone_only">每日溫柔洗淨頭皮與髮絲</h2>
            <h2 class="green1">無添加矽靈，<br class="phone_only">清新甦活、秀髮蓬鬆更強韌​​​​</h2>
        </div>
    </section>
    <!-- /main_visual -->
    <!-- purchase -->
    <section class="purchase" id="purchase">
        <ul class="purchase_tab">
            <li><a href="/product/goods_detail?goods_id=40"
                    onclick="dataLayer.push({'event':'gaEvent','eventCategory':'goods_id=41','eventAction':'click','eventLabel':'tab_goods_id=41'});"><span>組合</span></a>
            </li>
            <li><a href="/product/goods_detail?goods_id=40"
                    onclick="dataLayer.push({'event':'gaEvent','eventCategory':'goods_id=42','eventAction':'click','eventLabel':'tab_goods_id=42'});"><span>洗髮露</span></a>
            </li>
            <li class="current"><span>潤髮乳</span></li>
        </ul>
        <!-- one_time -->
        <section class="one_time">
            <h2>單次購入</h2>
            <div class="purchase_contents">
                <div class="radio_container">
                    <input type="radio" name="buyProduct" id="once" value="1">
                    <label for="once">
                        <div class="label_group">
                            <p class="name">甦活煥采洗髮露<span>(250mL)</span></p>
                        </div>
                        <p class="price">NT$<span class="number">750</span>/組</p>
                    </label>
                </div>
                <p class="btn_modal"><button type="button">買越多省越多，每盒最低NT$638</button></p>
            </div>
        </section>
        <!-- /one_time -->
        <!-- regular -->
        <section class="regular">
            <h2>健康定期購</h2>
            <p class="banner_off">健康提起購8折</p>
            <div class="purchase_contents">
                <div class="radio_container">
                    <input type="radio" name="buyProduct" id="regular" value="3">
                    <label for="regular">
                        <div class="label_group">
                            <p class="message">每2個月配送1個</p>
                            <p class="name">淨膚洗卸炭泥洗顏皂<span>(推薦夜晚使用)</span></p>
                        </div>
                        <p class="price">NT$<span class="number red">600</span>/瓶</p>
                    </label>
                    <input type="radio" name="buyProduct" id="regular2" value="4">
                    <label for="regular2">
                        <div class="label_group_wrap">
                            <div class="label_group">
                                <p class="message">每4個月配送2個</p>
                                <p class="name">淨膚洗卸炭泥洗顏皂<span>(推薦夜晚使用)</span></p>
                            </div>
                        </div>
                        <b class="message t_right">首次出貨送明星商品增量包</b>
                        <p class="price">NT$<span class="number red">600</span>/瓶</p>
                    </label>
                </div>
                <p class="link"><a href="/regulardelivery/">定期配送兩盒最優惠？</a>
                </p>
            </div>

            <!-- regular_extra -->
            <section class="regular_extra">
                <div class="regular_extra_title">
                    <h3>健康定期購</h3>
                    <p class="note">全台免運 定期配送到府</p>
                    <p class="badge">免運費</p>
                </div>
                <div class="benefit_contents">
                    <ul class="benefit_list">
                        <li class="benefit01">
                            <h4>好康1</h4>
                            <div class="data">
                                <div class="offers">
                                    <p class="text">全年皆享<span class="number">8</span><span class="unit_l">折</span></p>
                                </div>
                            </div>
                        </li>
                        <li class="benefit02">
                            <h4>好康2</h4>
                            <div class="data">
                                <p class="conditions">購買兩個以上</p>
                                <div class="offers">
                                    <div class="note">
                                        <p class="small">首次加</p>
                                        <p class="code">碼贈</p>
                                    </div>
                                    <p class="text"><span class="number">10</span><span class="unit_s">%</span>
                                        <span class="add">増量</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="benefit03">
                            <h4>好康3</h4>
                            <div class="data">
                                <p class="conditions">加碼贈送</p>
                                <div class="offers">
                                    <p class="text">驚喜健康體驗包</p>
                                </div>
                            </div>
                        </li>
                        <li class="benefit04">
                            <h4>好康4</h4>
                            <div class="data">
                                <p class="conditions">加碼贈送</p>
                                <div class="offers">
                                    <p class="text">健康隨身盒</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="regular_extra_footer">
                        <p class="note">加入健康定期購，無需每月下單，一次輕鬆購，定期定量配送到府</p>
                        <p class="link"><a href="/regulardelivery/">點擊看更多</a></p>
                    </div>
                </div>
            </section>
            <!-- /regular_extra -->

        </section>
        <!-- /regular -->

        <button class="btn_cart" type="button"
            onclick="dataLayer.push({'event':'gaEvent','eventCategory':'goods_detail','eventAction':'click','eventLabel':'Add_to_Cart'});addCard();">加入購物車</button>
        <p class="btn_link"><a href="/contents/anti-counterfeit/"><span>為什麼其他網站賣得更便宜？對於商品真偽有疑慮嗎？</span></a>
        </p>

    </section>
    <!-- /purchase -->
</section>
<!-- primary -->

