<!-- contents00 -->
<section class="contents00">

<!-- contents_nav -->
<ul class="contents_nav">
    <li class="btn_ingredients"><a href="#ingredients">商品一覽</a></li>
    <li class="btn_tips"><a href="#tips">愛用者<br class="sp_item">心得</a></li>
    <li class="btn_tips"><a href="#precautions">產地及<br class="sp_item">注意事項</a></li>
    <li class="btn_q_and_a"><a href="#q_and_a">Q&amp;A</a></li>
</ul>
<!-- /contents_nav -->

<!-- targets -->
<section class="targets">
    <h2>推薦給這樣的你</h2>
    <ul class="targets_list">
        <li>希望<em>徹底洗淨毛孔汙垢</em>的妳</li>
        <li>享受夜晚<em>乾淨素顏放鬆</em>的妳</li>
    </ul>
</section>
<!-- /targets -->

</section>

<!-- contents01 -->
<section id="ingredients">
    <div class="tips pa_LR15" style="background: none; padding-bottom: 0;">
        <h2>推薦給想深層清潔毛孔<br>素顏淨肌放鬆的妳</h2>
        <p class="lead">用潔淨的肌膚結束這一天吧!</p>
        <p class="lead3">【淨膚洗卸炭泥洗顏皂】 享受素顏放鬆的夜晚<br>
            使用吸附力佳的炭與泥以及能溫和洗淨的輔助成分<span class="green1 bold">荷荷芭油，</span><br>
            清爽洗去彩妝與毛孔的汙垢，並將肌膚回到素顏潔淨、放鬆的狀態。
        </p>
    </div>
    <div class="t_center">
        <img data-src="/img/goods/conoha/45.png" src="/img/goods/conoha/45.png" alt="用潔淨的肌膚結束這一天吧" width="750"
            height="567" loading="lazy" class="lazyloaded">
    </div>
    <br>
    <div class="tips" style="padding-bottom: 0; background: none;">
        <p class="lead">源自大自然的洗淨力<br>添加了炭<sup>※1</sup>、泥<sup>※2</sup>、荷荷芭油<sup>※3</sup></p>
    </div>
    <div class="box2_2_div w600">
        <div>
            <p>炭與泥的微粒子<br>能吸附毛孔汙垢</p>
            <p>炭與泥的微粒子是具有無數孔洞的多孔結構，讓毛孔的污垢與老舊角質容易被吸附在這些孔洞。</p>
            <div class="t_center">
                <img data-src="/img/goods/conoha/pic2.png" src="/img/goods/conoha/pic2.png" alt="炭與泥的微粒子能吸附毛孔汙垢"
                    width="182" height="166" loading="lazy" class="lazyloaded">
            </div>
        </div>
        <div>
            <p>荷荷芭油能溶解並卸除<br>汙垢，讓肌膚自由呼吸</p>
            <p>荷荷芭油特徵是不易氧化，對肌膚溫和不刺激，能溶解彩妝殘留汙垢，使其容易洗去，並豐富保濕、維持水潤飽滿。</p>
            <p class="ps">※防水用睫毛膏等彩妝請先用專用卸妝液卸除。</p>
        </div>
    </div>
</section>
<br>
<div class="t_center">
    <img data-src="/img/goods/conoha/pic3.png" src="/img/goods/conoha/pic3.png" alt="荷荷芭油" width="750" height="365"
        loading="lazy" class="lazyloaded">
</div>
<p class="ps" style="text-align: center;"><sup>※1</sup>炭(洗淨輔助成分) <sup>※2</sup>響岩(洗淨輔助成分)
    <sup>※3</sup>荷荷芭種子油(洗淨輔助成分)
</p>
<!-- /contents01 -->

<!-- contents02 -->
<section class="w1160 t_center">
    <div class="tips pa_LR15" style="background: none; padding-bottom: 0;">
        <h2>嚴選天然草本精油<br class="phone_only">在夜裡清爽放鬆</h2>
        <p class="lead">使用後，感覺舒緩穩定</p>
        <p class="lead3">調配能舒緩情緒的6種草本精油<sup>※4</sup>，幫妳安定心靈的沉穩香味。
        </p>
    </div>
    <img data-src="../img/goods/conoha/pic4.png" src="../img/goods/conoha/pic4.png" alt="嚴選天然草本精油" width="750"
        height="942" loading="lazy" class="lazyloaded">
</section>
<!-- /contents02 -->

<!--tips--->
<section class="tips green_bg" id="tips">
    <h2>愛用者使用過後的真實感想</h2>
    <ul class="tips_list">
        <li>
            <div class="text">
                <div class="label">
                    <h3><span>30代女性</span></h3>
                    <p class="date">細緻柔滑，<span class="green1 bold">草本香氛令人放鬆！</span></p>
                </div>
                <p class="comment">
                    泡沫細緻且紮實，輕輕搓幾下就能做出很多，而且很好沖洗，洗完還有舒服的草本精油香，真的有種療癒的神奇作用！
                </p>
                <figure><img data-src="/img/goods/conoha/30.png" src="/img/goods/conoha/30.png" alt="30"
                        loading="lazy" width="570" height="380" class="lazyloaded"></figure>
            </div>
        </li>
        <li>
            <div class="text">
                <div class="label">
                    <h3><span>40代女性</span></h3>
                    <p class="date"><span class="green1 bold">卸洗一次完成</span>，清爽無負擔！</p>
                </div>
                <p class="comment">
                    不只草本香味很棒，洗完感覺細緻的泡沫真的有深入毛孔清潔，持續洗一陣子，感覺肌膚的狀況蠻不錯的，洗臉變得好開心！
                </p>
                <figure><img data-src="/img/goods/conoha/40.png" src="/img/goods/conoha/40.png" alt="30"
                        loading="lazy" width="570" height="380" class="lazyloaded"></figure>
            </div>
        </li>
        <li>
            <div class="text">
                <div class="label">
                    <h3><span>50代女性</span></h3>
                    <p class="date">洗肌同時放鬆，洗完<span class="green1 bold">水潤不緊繃！</span></p>
                </div>
                <p class="comment">
                    洗卸合一，一皂兩用，非常適合工作家庭兩頭燒的我，泡泡很濃密，輕鬆洗掉一整天臉上的髒東西，而且不會卡卡的！
                </p>
                <figure><img data-src="/img/goods/conoha/50.png" src="/img/goods/conoha/50.png" alt="30"
                        loading="lazy" width="570" height="380" class="lazyloaded"></figure>
            </div>
        </li>
    </ul>
</section>
<!--/tips--->

<!-- details -->
<section class="details" id="details">
    <h2>conoha沐予 淨膚洗卸炭泥洗顏皂 <br class="phone_only">商品詳細資訊</h2>
    <p class="lead">日本製造，品質安心有保障！</p>

    <div class="question_answer">
        <p class="question">我很擔心食物的安全性，例如：<br class="sp_item">商品使用的原料、製作過程等…</p>
        <p class="answer">不用擔心，三得利「conoha沐予 淨膚洗卸炭泥洗顏皂」是具有百年歷史的日本三得利所製作！</p>
    </div>
    <ul class="details_list">
        <li>
            <figure><img data-src="/img/goods/sesamin/img_details01.jpg" src="/img/goods/sesamin/img_details01.jpg"
                    alt="總公司" loading="lazy" width="280" height="200" loading="lazy" class="lazyloaded"></figure>
            <h3>嚴格確保高品質</h3>
            <p>對大自然蘊藏的能量所孕育的保健食品，轉以科學角度剖析驗證其品質，每個環節層層把關，是三得利保健食品藉由貫徹品質安全做出的安心承諾。</p>
        </li>
        <li>
            <figure class="borderd"><img data-src="/img/goods/sesamin/img_details02.jpg"
                    src="/img/goods/sesamin/img_details02.jpg" alt="SGS檢驗" loading="lazy" width="280" height="280"
                    loading="lazy" class="lazyloaded">
            </figure>
            <h3>SGS檢驗通過</h3>
            <p>三得利「conoha沐予 淨膚洗卸炭泥洗顏皂」不僅精心挑選原料；更從生產至配送、堅持最嚴格的品質把關；日本製造；在台灣、更通過SGS檢驗、品質安心、讓您更放心。</p>
        </li>
    </ul>
    <p class="btn_link"><a href="/qanda/detail/000120.html"><span>我一直以為三得利是專門生產酒類及飲料的食品公司？</span></a></p>
</section>
<!-- /details -->

<!-- precautions -->
<section class="precautions" id="precautions">
    <h2>產地及注意事項</h2>
    <table class="precautions_table">
        <tr>
            <th>品名</th>
            <td>
                <p>淨膚洗卸炭泥洗顏皂 100g</p>
            </td>
        </tr>
        <tr>
            <th>原產地</th>
            <td>
                <p>日本</p>
            </td>
        </tr>
        <tr>
            <th>注意事項</th>
            <td>
                <ul>
                    <li><span>●</span>使用時，請注意肌膚是否出現異常症狀。</li>
                    <li><span>●</span>如肌膚出現不適，請停止使用。​</li>
                    <li class="t_indent"><span>·</span>使用期間、使用後出現泛紅、腫脹、發癢、刺激、脫色（白斑等）或暗沉等異常症狀時。</li>
                    <li class="t_indent"><span>·</span>使用本產品後經日曬有上述症狀產生時。</li>
                    <li class="t_indent">如持續使用可能造成症狀惡化，請諮詢皮處科醫師。</li>
                    <li><span>●</span>請避免使用於傷口、紅腫、溼疹等肌膚出現異常症狀的部位。</li>
                    <li><span>●</span>請注意避免產品進入眼睛。若不慎滲入眼中，切勿揉搓，請立即以清水沖洗。若有異物感殘留，請向眼科醫師諮詢。</li>
                    <li><span>●</span>本產品使用天然成分，有可能顏色產生變化。此外，基於特性，表面有可能會出現白色粉末或條紋。但並不影響品質，請安心使用。</li>
                    <li><span>●</span>請置於嬰幼兒無法取得處。</li>
                    <li><span>●</span>請避免保存於極度高溫或低溫場所、日光直射處</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>使用方式</th>
            <td>
                <p>建議搓揉出細緻泡沫，才能發揮洗顏最大功效，如每日使用2次，可使用約2～3個月<br>使用情形依照個人使用情況不同會有所差異</p>
                <br>
                <ul class="spec_list">
                    <li class="usage">建議早晨使用</li>
                    <li class="form">細緻泡沫</li>
                    <li class="fig01">
                        <figure>
                            <img data-src="/img/p157.png" src="/img/p157.png" alt="細緻泡沫" loading="lazy" width="62"
                                height="33" class="lazyloaded">
                        </figure>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</section>
<!-- /precautions -->

<!-- q_and_a -->
<section class="q_and_a" id="q_and_a">
    <h2>Q &amp; A</h2>
    <div class="q_and_a_group">
        <section class="q_and_a_contents">
            <h3>關於「conoha沐予 淨膚洗卸炭泥洗顏皂」</h3>
            <ul class="q_and_a_list">
                <li><a href="/qanda/detail/000115.html">為什麼其他網站賣得更便宜？且無法於其他通路購買呢？</a></li>
                <li><a href="/qanda/detail/000120.html">我一直以為三得利是專門生產酒類及飲料的食品公司？</a></li>
                <li><a href="/qanda/detail/000223.html">需要用起泡網起泡嗎？</a></li>
            </ul>
        </section>
        <section class="q_and_a_contents">
            <h3>購物須知</h3>
            <ul class="q_and_a_list">
                <li><a href="/qanda/detail/000062.html">需要運費、手續費嗎？</a></li>
                <li><a href="/qanda/detail/000065.html">從訂購完成到收到貨物，需要幾天的時間？</a></li>
                <li><a href="/qanda/detail/000016.html">可以透過什麼方式訂購商品？</a></li>
                <li><a href="/qanda/detail/000051.html">付款方式？</a></li>
            </ul>
        </section>
    </div>
</section>
<!-- /q_and_a -->

<!-- recommended_products -->
<section class="recommended_products" id="recommended_products">
    <h2>其他推薦商品</h2>
    <ul class="recommended_list">
        <li>
            <a href="/product/goods_detail?goods_id=29">
                <div class="img_block">
                    <p class="award"><img data-src="/top/img/vitoas_prize.png" src="/top/img/vitoas_prize.png"
                            width="78" height="78" loading="lazy" alt="vitoas蜜得絲_award"></p>
                    <figure><img data-src="/top/img/vitoas.png" src="/top/img/vitoas.png" width="180" height="169"
                            loading="lazy" alt="vitoas蜜得絲"></figure>
                </div>
                <div class="text_block">
                    <div class="products_title" style="height: 54px;">
                        <h3>vitoas 蜜得絲</h3>
                    </div>
                    <p class="text">極簡保養實現理想原生肌只要兩個步驟！</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/product/goods_detail?goods_id=60">
                <div class="img_block">
                    <p class="award"><img data-src="/top/img/royal_jelly_prize.png" src="/top/img/royal_jelly_prize.png"
                            width="78" height="78" loading="lazy" alt="蜂王乳 + 芝麻明E_award"></p>
                    <figure><img data-src="/top/img/royal_jelly.png" src="/top/img/royal_jelly.png" width="180"
                            height="169" loading="lazy" alt="蜂王乳 + 芝麻明E"></figure>
                </div>
                <div class="text_block">
                    <div class="products_title" style="height: 81px;">
                        <h3>蜂王乳<br class="phone_only">+芝麻明E</h3>
                    </div>
                    <p class="text">
                    </p>
                    <p>全方位養顏調理聖品，<br>擁好眠，煥發持久紅潤透亮</p>
                    <p></p>
                </div>
            </a>
        </li>
    </ul>
</section>
<!-- /recommended_products -->

<!--select_purchase_btn_bar-->
<div class="select_purchase_btn_bar">
    <div class="inner">
        <button class="btn_close" type="button"></button>
        <p class="btn_select_purchase" style="margin: 0;"><a href="#purchase">選擇購買方案</a></p>
    </div>
</div>
<!--/select_purchase_btn_bar-->
</div>
<!-- /product_contents -->
</div>

<!-- /product_contents -->

<!-- modal_container -->
<div class="modal_container">
    <div class="modal_container_in">
        <h2 class="modal_title">優惠折扣價目表</h2>
        <p class="text">全台宅配免運費，不限數量！</p>
        <div class="price_list">
            <p class="popup_title">單個</p>
            <table class="price_list_table">
                <caption>多重購折扣價目表</caption>
                <tbody>
                    <tr>
                        <th>組數</th>
                        <th>折扣數</th>
                        <th>折扣金額</th>
                        <th>折扣後總金額</th>
                    </tr>
                    <tr>
                        <td class="label">1個</td>
                        <td class="blank">-</td>

                        <td class="blank">-</td>
                        <td class="blank">-</td>
                    </tr>
                    <tr>
                        <td class="label">2個</td>
                        <td class="number">95折</td>
                        <td class="price">省NT$75</td>
                        <td class="total">NT$1,425</td>
                    </tr>
                    <tr>
                        <td class="label">3個</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$225</td>
                        <td class="total">NT$2,025</td>
                    </tr>
                    <tr>
                        <td class="label">4個</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$300</td>
                        <td class="total">NT$2,700</td>
                    </tr>
                    <tr>
                        <td class="label">5個</td>
                        <td class="number">85折</td>
                        <td class="price">省NT$562</td>
                        <td class="total">NT$3,188</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p class="popup_title">兩個入/組 (１組包含:煥采海洋膠原洗顏皂１個 與 淨膚洗卸炭泥洗顏皂１個)</p>
            <table class="price_list_table">
                <caption>多重購折扣價目表</caption>
                <tbody>
                    <tr>
                        <th>組數</th>
                        <th>折扣數</th>
                        <th>折扣金額</th>
                        <th>折扣後總金額</th>
                    </tr>
                    <tr>
                        <td class="label">2個(1組)</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                    </tr>
                    <tr>
                        <td class="label">4個(2組)</td>
                        <td class="number">95折</td>
                        <td class="price">省NT$150</td>
                        <td class="total">NT$2,850</td>
                    </tr>
                    <tr>
                        <td class="label">6個(3組)</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$450</td>
                        <td class="total">NT$4,050</td>
                    </tr>
                    <tr>
                        <td class="label">8個(4組)</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$600</td>
                        <td class="total">NT$5,400</td>
                    </tr>
                    <tr>
                        <td class="label">10個(5組)</td>
                        <td class="number">85折</td>
                        <td class="price">省NT$1,125</td>
                        <td class="total">NT$6,375</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn_close">關閉</div>
        <div class="btn_close_x"></div>
    </div>
</div>
<!-- /modal_container -->

<div class="overlay"></div>
</div>
<script src="/js/goods/smooth_scroll.js"></script>
<script src="/js/goods/jquery.matchHeight-min.js"></script>
<script>
$(function() {
	//Show Benefits
	$( 'input[name="buyProduct"]:radio' ).change( function() {
		$(".regular_extra").addClass("active");
	});
	//modal
	$('.overlay').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_close').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_close_x').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_modal a').on('click',function(){
		$('.overlay').addClass('active');
		$('.modal_container').addClass('active');
	});
});

// matchHeight
$('.ingredients_list01').matchHeight();
$('.ingredients_list02').matchHeight();
$('.products_title').matchHeight();
// select_purchase_btn_bar
$(".select_purchase_btn_bar .btn_close").click(function(){
	// $('.select_purchase_btn_bar').fadeOut("fast");
	$('.select_purchase_btn_bar').removeClass('active');
});
$(window).scroll(function() {
	if ( $(this).scrollTop() > 2000){
		// $('.select_purchase_btn_bar').fadeIn("fast");
		$('.select_purchase_btn_bar').addClass('active');
	} else {
		// $('.select_purchase_btn_bar').stop().fadeOut("fast");
		$('.select_purchase_btn_bar').removeClass('active');
	}
});
</script>