<!-- contents00 -->
<section class="contents00">

<!-- contents_nav -->
<ul class="contents_nav">
    <li class="btn_ingredients"><a href="#ingredients">商品一覽</a></li>
    <li class="btn_tips"><a href="#tips">愛用者<br class="sp_item">心得</a></li>
    <li class="btn_tips"><a href="#precautions">產地及<br class="sp_item">注意事項</a></li>
    <li class="btn_q_and_a"><a href="#q_and_a">Q&amp;A</a></li>
</ul>
<!-- /contents_nav -->

<!-- targets -->
<section class="targets">
    <h2>推薦給這樣的你</h2>
    <ul class="targets_list">
        <li>希望<em>潔淨同時滋潤肌膚</em>的妳</li>
        <li>享受早晨<em>清爽煥采亮顏</em>的妳</li>
    </ul>
</section>
<!-- /targets -->

</section>

<!-- contents01 -->
<section id="ingredients" class="w1160 t_center">
    <div class="tips pa_LR15" style="background: none; padding-bottom: 0;">
        <h2>推薦給想洗淨肌膚<br>同時注入豐沛水分的妳</h2>
        <p class="lead">就用洗臉喚醒一天的開始吧!</p>
        <p class="lead2">【煥采海洋膠原洗顏皂】 用煥采迎接早晨</p>
        <p class="lead3">就讓肌膚容易吸收且保濕性佳的<span class="green1 bold">保濕成分Lipidure<sup>®</sup></span><br>
            以及<span class="green1 bold">海洋膠原蛋白的雙重保濕效果</span>，呵護滋潤妳的肌膚。
        </p>
    </div>
    <img data-src="/img/goods/conoha/44.png" src="/img/goods/conoha/44.png" alt="就用洗臉喚醒一天的開始吧!" width="750"
        height="719" loading="lazy" class="lazyloaded">
    <br><br>
    <p class="lead2 green1" style="line-height: normal;">含有2種保濕成分，<br>
        海洋膠原蛋白<sup>※1</sup>、保濕成分Lipidure<sup>®</sup><sup>※2</sup></p>
    <div class="box2_2_div w600">
        <div>
            <p>洗出保持肌膚<br>原有的水潤透亮</p>
            <p>特別添加雙重成分—來自天然海洋的海洋膠原蛋白、以及類似皮膚成分、容易讓肌膚吸收的保濕成分Lipidure<sup>®</sup>。</p>
        </div>
        <div>
            <p>高度保濕成分<br>Lipidure<sup>®</sup></p>
            <p>保濕成分Lipidure<sup>®</sup>是與皮膚成分相似的保濕成分。其高保濕力在國內外皆受到好評。</p>
        </div>
    </div>
    <br><br>
    <img data-src="/img/goods/conoha/pic9.png" src="/img/goods/conoha/pic9.png" alt="高度保濕成分Lipidure®" width="750"
        height="366" loading="lazy" class="lazyloaded">
    <p class="ps" style="text-align: center;"><sup>※1</sup>水解膠原蛋白(保濕成分) <sup>※2</sup>聚磷酸膽鹼乙二醇丙烯酸酯(保濕成分)​</p>
</section>
<!-- /contents01 -->

<!-- contents02 -->
<section class="t_center">
    <div class="tips pa_LR15" style="background: none; padding-bottom: 0;">
        <h2>嚴選天然草本精油<br>感受白天煥發活力</h2>
        <p class="lead">使用後喚醒一早的活力和自信</p>
        <p class="lead3">賦予妳心情活力的甜橙<sup class="phone_only">※1</sup>、藺花香茅<sup class="phone_only">※2</sup>、再加上迷迭香<sup
                class="phone_only">※3</sup>、<br>
            與藥鼠尾草<sup class="phone_only">※4</sup>調製出來的清爽香味。
        </p>
    </div>
    <img data-src="/img/goods/conoha/pic8.png" src="/img/goods/conoha/pic8.png" alt="嚴選天然草本精油感受白天煥發活力" width="750"
        height="870" loading="lazy" class="lazyloaded">
</section>
<!-- /contents02 -->

<!--tips--->
<section class="tips green_bg" id="tips">
    <h2>愛用者使用過後的真實感想</h2>
    <ul class="tips_list">
        <li>
            <div class="text">
                <div class="label">
                    <h3><span>30代女性</span></h3>
                    <p class="date">淨肌保濕，<span class="green1 bold">有被呵護的感覺！</span></p>
                </div>
                <p class="comment">
                    紮實的泡沫與清爽的香味，泡沫很細緻而且很好沖洗，草本精油的味道很舒服，早上洗完讓人感覺很有活力！
                </p>
                <figure><img data-src="/img/goods/conoha/30.png" src="/img/goods/conoha/30.png" alt="30"
                        loading="lazy" width="570" height="380" class="lazyloaded"></figure>
            </div>
        </li>
        <li>
            <div class="text">
                <div class="label">
                    <h3><span>40代女性</span></h3>
                    <p class="date">每天都一樣，<span class="green1 bold">水嫩透亮！</span></p>
                </div>
                <p class="comment">
                    早上洗完臉後肌膚感覺很滋潤，完全沒有緊繃的感覺，香味也很棒，洗臉同時保養肌膚，輕鬆沒有負擔！
                </p>
                <figure><img data-src="/img/goods/conoha/40.png" src="/img/goods/conoha/40.png" alt="30"
                        loading="lazy" width="570" height="380" class="lazyloaded"></figure>
            </div>
        </li>
        <li>
            <div class="text">
                <div class="label">
                    <h3><span>50代女性</span></h3>
                    <p class="date">保持<span class="green1 bold">水潤亮顏，又有活力！</span></p>
                </div>
                <p class="comment">
                    早上洗完臉，常常感覺又亮了一階！很滋潤，完全沒有緊繃的感覺！天然精油的香味也很棒，心情會跟著好起來！
                </p>
                <figure><img data-src="/img/goods/conoha/50.png" src="/img/goods/conoha/50.png" alt="30"
                        loading="lazy" width="570" height="380" class="lazyloaded"></figure>
            </div>
        </li>
    </ul>
</section>
<!--/tips--->

<!-- details -->
<section class="details" id="details">
    <h2>conoha沐予 煥采海洋膠原洗顏皂 <br class="phone_only">商品詳細資訊</h2>
    <p class="lead">日本製造，品質安心有保障！</p>

    <div class="question_answer">
        <p class="question">我很擔心食物的安全性，例如：<br class="sp_item">商品使用的原料、製作過程等…</p>
        <p class="answer">不用擔心，三得利「conoha沐予 煥采海洋膠原洗顏皂」是具有百年歷史的日本三得利所製作！</p>
    </div>
    <ul class="details_list">
        <li>
            <figure><img data-src="/img/goods/sesamin/img_details01.jpg" src="/img/goods/sesamin/img_details01.jpg"
                    alt="總公司" loading="lazy" width="280" height="200" loading="lazy" class="lazyloaded"></figure>
            <h3>嚴格確保高品質</h3>
            <p>對大自然蘊藏的能量所孕育的保健食品，轉以科學角度剖析驗證其品質，每個環節層層把關，是三得利保健食品藉由貫徹品質安全做出的安心承諾。</p>
        </li>
        <li>
            <figure class="borderd"><img data-src="/img/goods/sesamin/img_details02.jpg"
                    src="/img/goods/sesamin/img_details02.jpg" alt="SGS檢驗" loading="lazy" width="280" height="280"
                    loading="lazy" class="lazyloaded">
            </figure>
            <h3>SGS檢驗通過</h3>
            <p>三得利「conoha沐予 煥采海洋膠原洗顏皂」不僅精心挑選原料；更從生產至配送、堅持最嚴格的品質把關；日本製造；在台灣、更通過SGS檢驗、品質安心、讓您更放心。</p>
        </li>
    </ul>
    <p class="btn_link"><a href="/qanda/detail/000120.html"><span>我一直以為三得利是專門生產酒類及飲料的食品公司？</span></a></p>
</section>
<!-- /details -->

<!-- q_and_a -->
<section class="q_and_a" id="q_and_a">
    <h2>Q &amp; A</h2>
    <div class="q_and_a_group">
        <section class="q_and_a_contents">
            <h3>關於「conoha沐予 煥采海洋膠原洗顏皂」</h3>
            <ul class="q_and_a_list">
                <li><a href="/qanda/detail/000115.html">為什麼其他網站賣得更便宜？且無法於其他通路購買呢？</a></li>
                <li><a href="/qanda/detail/000120.html">我一直以為三得利是專門生產酒類及飲料的食品公司？</a></li>
                <li><a href="/qanda/detail/000223.html">需要用起泡網起泡嗎？</a></li>
            </ul>
        </section>
        <section class="q_and_a_contents">
            <h3>購物須知</h3>
            <ul class="q_and_a_list">
                <li><a href="/qanda/detail/000062.html">需要運費、手續費嗎？</a></li>
                <li><a href="/qanda/detail/000065.html">從訂購完成到收到貨物，需要幾天的時間？</a></li>
                <li><a href="/qanda/detail/000016.html">可以透過什麼方式訂購商品？</a></li>
                <li><a href="/qanda/detail/000051.html">付款方式？</a></li>
            </ul>
        </section>
    </div>
</section>
<!-- /q_and_a -->

<!-- recommended_products -->
<section class="recommended_products" id="recommended_products">
    <h2>其他推薦商品</h2>
    <ul class="recommended_list">
        <li>
            <a href="/product/goods_detail?goods_id=29">
                <div class="img_block">
                    <p class="award"><img data-src="/top/img/vitoas_prize.png" src="/top/img/vitoas_prize.png"
                            width="78" height="78" loading="lazy" alt="vitoas蜜得絲_award"></p>
                    <figure><img data-src="/top/img/vitoas.png" src="/top/img/vitoas.png" width="180" height="169"
                            loading="lazy" alt="vitoas蜜得絲"></figure>
                </div>
                <div class="text_block">
                    <div class="products_title" style="height: 54px;">
                        <h3>vitoas 蜜得絲</h3>
                    </div>
                    <p class="text">極簡保養實現理想原生肌只要兩個步驟！</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/product/goods_detail?goods_id=60">
                <div class="img_block">
                    <p class="award"><img data-src="/top/img/royal_jelly_prize.png" src="/top/img/royal_jelly_prize.png"
                            width="78" height="78" loading="lazy" alt="蜂王乳 + 芝麻明E_award"></p>
                    <figure><img data-src="/top/img/royal_jelly.png" src="/top/img/royal_jelly.png" width="180"
                            height="169" loading="lazy" alt="蜂王乳 + 芝麻明E"></figure>
                </div>
                <div class="text_block">
                    <div class="products_title" style="height: 81px;">
                        <h3>蜂王乳<br class="phone_only">+芝麻明E</h3>
                    </div>
                    <p class="text">
                    </p>
                    <p>全方位養顏調理聖品，<br>擁好眠，煥發持久紅潤透亮</p>
                    <p></p>
                </div>
            </a>
        </li>
    </ul>
</section>
<!-- /recommended_products -->

<!--select_purchase_btn_bar-->
<div class="select_purchase_btn_bar">
    <div class="inner">
        <button class="btn_close" type="button"></button>
        <p class="btn_select_purchase" style="margin: 0;"><a href="#purchase">選擇購買方案</a></p>
    </div>
</div>
<!--/select_purchase_btn_bar-->
</div>
<!-- /product_contents -->
</div>

<!-- /product_contents -->
<!-- modal_container -->
<div class="modal_container">
    <div class="modal_container_in">
        <h2 class="modal_title">優惠折扣價目表</h2>
        <p class="text">全台宅配免運費，不限數量！</p>
        <div class="price_list">
            <p class="popup_title">單個</p>
            <table class="price_list_table">
                <caption>多重購折扣價目表</caption>
                <tbody>
                    <tr>
                        <th>組數</th>
                        <th>折扣數</th>
                        <th>折扣金額</th>
                        <th>折扣後總金額</th>
                    </tr>
                    <tr>
                        <td class="label">1個</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                    </tr>
                    <tr>
                        <td class="label">2個</td>
                        <td class="number">95折</td>
                        <td class="price">省NT$75</td>
                        <td class="total">NT$1,425</td>
                    </tr>
                    <tr>
                        <td class="label">3個</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$225</td>
                        <td class="total">NT$2,025</td>
                    </tr>
                    <tr>
                        <td class="label">4個</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$300</td>
                        <td class="total">NT$2,700</td>
                    </tr>
                    <tr>
                        <td class="label">5個</td>
                        <td class="number">85折</td>
                        <td class="price">省NT$562</td>
                        <td class="total">NT$3,188</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p class="popup_title">兩個入/組 (１組包含:煥采海洋膠原洗顏皂１個 與 淨膚洗卸炭泥洗顏皂１個)</p>
            <table class="price_list_table">
                <caption>多重購折扣價目表</caption>
                <tbody>
                    <tr>
                        <th>組數</th>
                        <th>折扣數</th>
                        <th>折扣金額</th>
                        <th>折扣後總金額</th>
                    </tr>
                    <tr>
                        <td class="label">2個(1組)</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                        <td class="blank">-</td>
                    </tr>
                    <tr>
                        <td class="label">4個(2組)</td>
                        <td class="number">95折</td>
                        <td class="price">省NT$150</td>
                        <td class="total">NT$2,850</td>
                    </tr>
                    <tr>
                        <td class="label">6個(3組)</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$450</td>
                        <td class="total">NT$4,050</td>
                    </tr>
                    <tr>
                        <td class="label">8個(4組)</td>
                        <td class="number">9折</td>
                        <td class="price">省NT$600</td>
                        <td class="total">NT$5,400</td>
                    </tr>
                    <tr>
                        <td class="label">10個(5組)</td>
                        <td class="number">85折</td>
                        <td class="price">省NT$1,125</td>
                        <td class="total">NT$6,375</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn_close">關閉</div>
        <div class="btn_close_x"></div>
    </div>
</div>
<!-- /modal_container -->

<div class="overlay"></div>
</div>
<script src="/js/goods/smooth_scroll.js"></script>
<script src="/js/goods/jquery.matchHeight-min.js"></script>
<script>
$(function() {
	//Show Benefits
	$( 'input[name="buyProduct"]:radio' ).change( function() {
		$(".regular_extra").addClass("active");
	});
	//modal
	$('.overlay').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_close').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_close_x').on('click',function(){
		$('.modal_container').removeClass('active');
		$('.overlay').removeClass('active');
	});
	$('.btn_modal a').on('click',function(){
		$('.overlay').addClass('active');
		$('.modal_container').addClass('active');
	});
});

// matchHeight
$('.ingredients_list01').matchHeight();
$('.ingredients_list02').matchHeight();
$('.products_title').matchHeight();
// select_purchase_btn_bar
$(".select_purchase_btn_bar .btn_close").click(function(){
	// $('.select_purchase_btn_bar').fadeOut("fast");
	$('.select_purchase_btn_bar').removeClass('active');
});
$(window).scroll(function() {
	if ( $(this).scrollTop() > 2000){
		// $('.select_purchase_btn_bar').fadeIn("fast");
		$('.select_purchase_btn_bar').addClass('active');
	} else {
		// $('.select_purchase_btn_bar').stop().fadeOut("fast");
		$('.select_purchase_btn_bar').removeClass('active');
	}
});
</script>